@import url("/mainstyles.css");
.content_7 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 310px;
  width: 300px;
  margin-bottom: 20px; }

.services_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.services_title {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px; }

.services_current_title {
  font-weight: 700;
  font-size: 24px;
  color: #005FFF;
  margin-bottom: 40px; }

.services_current_btn {
  background-color: #005FFF;
  padding: 8px 24px;
  color: #fff;
  font-size: 20px;
  border: none;
  font-weight: 600;
  border-radius: 6px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  cursor: pointer;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all; }

.services_current_image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }
  .services_current_image img {
    width: 100px;
    height: 100px; }

.column_service {
  padding: 0 10px; }

.services_current_btn:hover {
  background-color: #014fd5;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all; }

@media (max-width: 1309px) {
  .services {
    padding-top: 20px; } }
.active {
  display: block;
  left: -13px;
  padding-left: 13px; }

.active_burger span {
  display: none; }
.active_burger span:nth-child(2) {
  display: block;
  top: calc(50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
.active_burger span:last-child {
  display: block;
  top: calc(50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
