* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer; }

input {
  font-family: 'Montserrat', sans-serif; }

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif; }

.wrapper {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%; }

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px; }

.navigation_block {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 10px; }

.headerAbout {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border: 3px solid #f2f2f2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: none; }

.logo_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 350px; }
  .logo_block .company_title {
    font-size: 24px; }
  .logo_block .logo {
    margin-right: 10px; }

.logo_href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navbar {
  margin-right: 150px; }
  .navbar ul > *:not(:last-child) {
    margin-right: 40px; }
  .navbar ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .navbar ul a {
      position: relative;
      text-decoration: none;
      color: #545353; }
  .navbar .service_nav_link {
    padding-bottom: 20px; }
  .navbar .li_drowpown {
    position: relative; }
    .navbar .li_drowpown img {
      position: absolute;
      width: 10px;
      height: 10px;
      right: -13px;
      bottom: 4px; }
  .navbar .dropdown {
    position: relative;
    display: inline-block; }
  .navbar .dropdown_content {
    left: -35px;
    bottom: -90px;
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 6px;
    min-width: 140px;
    min-height: 80px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .navbar .dropdown_content .drop_link:last-child {
      bottom: -10px; }
    .navbar .dropdown_content .drop_link {
      position: relative;
      left: 10px; }
    .navbar .dropdown_content .drop_link:first-child:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #005FFF;
      border-radius: 50%;
      top: 7px;
      left: -12px; }
    .navbar .dropdown_content .drop_link:last-child:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #005FFF;
      border-radius: 50%;
      top: 25px;
      left: -78px; }
  .navbar .li_drowpown:hover .dropdown_content {
    display: block;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
  .navbar a:hover {
    color: black;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease; }

.button_controllers .btn {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-weight: 700;
  font-size: 16px; }
.button_controllers .login {
  border: 2px solid #F2F3F5;
  margin-right: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .button_controllers .login a {
    text-decoration: none;
    color: black; }
.button_controllers .login:hover {
  border: 2px solid black;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
.button_controllers .connect {
  background-color: #005FFF;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #F2F3F5; }
.button_controllers .connect:hover {
  border: 2px solid black;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.burger_menu {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 5;
  left: -40px;
  display: none; }
  .burger_menu span {
    width: 100%;
    height: 2px;
    background-color: #222222;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: 0.2s all;
    transition: 0.2s all; }
  .burger_menu span:nth-child(2) {
    top: calc(50% - 8px); }
  .burger_menu span:last-child {
    top: calc(50% + 8px); }

.button_controllers_in_burger {
  display: none; }

footer {
  border: 3px solid #f2f2f2;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: none; }

.footer_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer_block .authors {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%; }
  .footer_block .privacy {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%; }
  .footer_block .social_nets {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10%;
            flex: 0 1 10%; }

.social_nets ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social_nets ul li {
    margin-right: 10px; }
    .social_nets ul li a img {
      border-radius: 10px;
      width: 30px;
      height: 30px; }

@media (max-width: 1332px) {
  .navbar {
    margin-right: 175px; }

  .logo_block {
    margin-right: 250px; } }
@media (max-width: 1206px) {
  .navbar {
    margin-right: 100px; }

  .logo_block {
    margin-right: 200px; } }
@media (max-width: 1086px) {
  .navbar {
    margin-right: 50px; }

  .logo_block {
    margin-right: 150px; } }
@media (max-width: 984px) {
  .navbar {
    margin-right: 50px; }

  .logo_block {
    margin-right: 100px; } }
@media (max-width: 932px) {
  .logo_block {
    position: relative;
    z-index: 5; }

  .button_controllers {
    display: none; }

  .burger_menu {
    display: block; }

  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    width: 110%;
    height: 600px;
    background-color: #fff;
    top: 0;
    left: -120%;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
    .navbar ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 100px; }
      .navbar ul li {
        position: relative;
        padding-left: 15px;
        margin-bottom: 40px;
        font-size: 25px; }
        .navbar ul li a {
          color: #000; }
      .navbar ul li::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #f2f2f2;
        bottom: -5px; } }
@media (max-width: 932px) and (max-width: 340px) {
  .logo_block {
    margin-right: 50px; } }
@media (max-width: 932px) {
  .button_controllers_in_burger {
    display: block;
    padding-left: 15px; } }
.active {
  display: block;
  left: -13px;
  padding-left: 13px; }

.active_popup {
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 50; }

.active_burger span {
  display: none; }
.active_burger span:nth-child(2) {
  display: block;
  top: calc(50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
.active_burger span:last-child {
  display: block;
  top: calc(50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

@media (max-width: 681px) {
  .footer_block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .footer_block .authors {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 70%;
              flex: 0 1 70%; }
    .footer_block .privacy {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 30%;
              flex: 0 1 30%; }
    .footer_block .social_nets {
      margin-top: 20px;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%; }
      .footer_block .social_nets ul {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
@media (max-width: 541px) {
  .footer_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer_block .authors {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%;
      margin-bottom: 20px; }
    .footer_block .privacy {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%; }
    .footer_block .social_nets {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%; } }
