@import url('/mainstyles.css');
$blue_color : #005FFF;
.current_tariff_connect_btn{
    background-color: $blue_color;
    padding:14px 48px;
    color:#fff;
    font-size: 20px;
    border:none;
    font-weight: 600;
    border-radius: 6px;
    transition: 0.2s all ease;
    cursor: pointer;
}


.content_2{
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 100px;
    padding-bottom: 30px;
}


.my_account_bill{
    border:4px solid #f2f2f2;
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    display: flex;
    padding:20px;
    align-items: center;
    font-size: 20px;
    height: 100px;
}

.my_account_bill_top_up_block{
    margin-left: 20px;
}

.my_account_bill_top_up_btn{
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    background-color:#228a18;
    padding:10px;
    width: 100px;
    border:2px solid #228a18;
    border-radius: 15px;
    transition: 0.3s all ease;
}

.my_account_bill_top_up_btn:hover{
    box-shadow: 0px 0px 6px black;
    transition: 0.3s all ease;
}


.profile_row{
    display: flex;
    justify-content: space-between;
}

.my_profile{
    padding:0 15px;
    display: flex;
    flex-direction: column;
}

.current_tariff{
    padding:0 15px;
}


.my_profle_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    margin-bottom: 25px;
}
.my_profile_form {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 4px solid #F2F2F2;
    height: 100%;
    padding-bottom: 44px;
}
.my_profile_info {
    display: flex;
    padding:20px;
}
.my_profile_avatar {
    margin-right: 40px;

    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}



.current_tariff_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    margin-bottom: 25px;
}

.my_profile_edit_btn_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_profile_edit_btn{
    background-color: #005FFF;
    padding: 14px 48px;
    color: #fff;
    font-size: 20px;
    border: none;
    font-weight: 600;
    border-radius: 6px;
    transition: 0.2s all ease;
    cursor: pointer;
}


.my_profile_name_surname{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 10px;
}

.my_profile_data{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    ul{
        li{
            margin-bottom: 10px;
        }
    }
}

.status_profile{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;


}



.status_profile_status{
    border: 4px solid #f2f2f2;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    align-items: center;
    font-size: 20px;
    height: 100%;
    width: 300px;
    height: 100px;
    justify-content: center;
}

.status_profile_expire{
    border: 4px solid #f2f2f2;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    align-items: center;
    font-size: 20px;
    height: 100%;
    width: 300px;
    height: 100px;
    justify-content: center;
}

.status_column{
    padding: 0 15px;
}




//my_tariff

.tariffs_title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
}
.tariffs_sorting_tools {
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    padding: 20px 0;
    display: flex;
    align-items: center;

    >*:not(:last-child){
        margin-right: 10px;
    }

}



.tariffs_sorting_parameters_btn {
    border:none;
        background-color: transparent;
    img{
        width: 30px;
        height: 30px;
    }
}
.tariffs_sort_by_price {
    select{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding:5px;
        option{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
    }
}
.tariffs_sort_by_aplphabet {
    select{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding:5px;
        option{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
    }
}
.tariffs_sort_by_service {
    select{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding:5px;
        option{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
    }
}


.tariffs_row {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


.tariffs_tariff {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border: 4px solid #F2F2F2;
    border-radius: 10px;
    padding:44px 70px;
    transition: 0.2s all ease;
}
.tarifss_tariff_title {
    font-weight: 700;
    font-size: 24px;
    color:$blue_color;
    margin-bottom: 35px;
}
.tariffs_tariff_feauters {
    ul{
        display: flex;
        flex-direction: column;
        li{
            font-weight: 400;
            font-size: 18px;   
            border-bottom: 1px solid #CBCACA; 
            padding-left: 25px;
            padding-bottom: 5px;
            background-image: url("/img/tariffs_images/check.svg");
            background-repeat: no-repeat;
            background-position-y: 3px;
        }
        >*{
            margin-bottom: 20px;
        }
    }
}
.tariffs_tariff_price {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;
    border:2px dashed #dfdddd;
    padding:10px;
    border-radius: 10px;
}

.tariffs_tariff_connect_btn {
    background-color: $blue_color;
    padding:14px 48px;
    color:#fff;
    font-size: 20px;
    border:none;
    font-weight: 600;
    border-radius: 6px;
    transition: 0.2s all ease;
    cursor: pointer;
}


.tariffs_tariff_connect_btn:hover{
    box-shadow: 0px 0px 6px black;
    transition: 0.2s all ease;
}


.tariffs_column{
    padding: 0 15px;
    margin-bottom: 30px;
}


.tariffs_tariff:hover{
    transform: scale(1.05,1.05); 
    transition: 0.2s all ease;
    box-shadow: 0px 0px 10px #f2f2f2;
}

.my_tariff {
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;

}
.my_tariff_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 25px;
    text-align: center;
}
.my_tariff_form {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding:32px 30px;
    flex: 1 1 auto;
}
.my_tariff_current {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color:$blue_color;
}
.my_tariff_status {
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;

    span{
        color:#35D327;
    }
}
.my_tariff_expire {
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    span{
        font-weight: 700;
    }
}
.my_tariff_features {
    display: flex;
    flex-direction: column;
    align-items: center;
    // text-align: center;
}
.my_tariff_features_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}
.my_tariff_features_current {
    margin-bottom: 70px;

    li{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        background-image: url('img/profile_images/check.svg');
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 25px;
    }

    li:not(:last-child){
        margin-bottom: 10px;
    }
}

.my_tariff_price{
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 20px;
    span{
        font-weight: 700;
    }
}

.my_tariff_features_btn{
    border-radius: 6px;
    background-color: $blue_color;
    padding:15px 58px;
    border:none;
    color:#fff;
    font-weight: 600;
    font-size: 18px;
    transition: 0.2s all ease;
}

.my_tariff_features_btn:hover{
    box-shadow: 0px 0px 5px black;
    transition: 0.2s all ease;
}

.my_profile_edit_btn:hover{
     box-shadow: 0px 0px 5px black;
    transition: 0.2s all ease;
}

@media (max-width:440px) {
    .tariffs_tariff_price{
        text-align: center;
        font-size: 20px;
    }
    .tariffs_tariff{
        padding:44px 45px;
    }
}


@media (max-width:1020px) {
    .status_profile{
        justify-content: center;
    }

    .status_profile_status{
        margin-bottom: 20px;
    }
}

@media (max-width:973px) {
    .profile_row{
        flex-wrap: wrap;
        justify-content: center;
        >*:not(:last-child){
            margin-bottom: 20px;
        }
    }

}

@media (max-width:700px) {

    .my_account_bill{
        margin-bottom: 20px;
    }

    .my_profile{
        width: 400px;
    }

    .my_profile_avatar{
        margin-right: 0px;
        margin-bottom: 20px;
        img{
            width: 150px;
            height: 150px;
        }
    }
    .my_profile_info{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .my_tariff_current{
        font-size: 28px;
    }

    .my_tariff_status{
        font-size: 22px;
    }

    .my_tariff_expire{
        font-size: 22px;
    }

    .my_tariff_price{
        font-size: 22px;
    }

.my_profile_data{
    text-align: center;   
}

    
@media (max-width:640px) {
    .my_profile{
        width: 400px;
    }
}
    


}

@media (max-width:430px) {
    .my_profile{
        width: 350px;
    }

    .my_tariff{
        width: 350px;
    }
    .my_profile_name_surname{
        text-align: center;
        font-size: 23px;
    }
}


@media (max-width:389px) {
    .my_profile{
        width: 300px;
    }

    .my_tariff{
        width: 300px;
    }
    
}

@media (max-width:332px) {

    .my_account_bill{
        width: 280px;
    }

    .status_profile_status{
        width: 280px;
    }

    .status_profile_expire{
        width: 280px;
    }
    .my_tariff_current{
        font-size: 25px;
    }

    .my_tariff_price{
        font-size: 20px;
    }

    .my_profile_data{
        ul{
            li{
                font-size: 16px;
            }
        }
    }
    
    .my_profile_name_surname{
        font-size: 20px;
    }

    .my_tariff_features_current{
        margin-bottom: 50px;
    }
    
}


.active{
    display: block;
    left: -13px;
    padding-left: 13px;
}



.active_burger{
    span{
        display: none;
    }

    span:nth-child(2){
        display: block;
                top: calc(50%);
                transform: rotate(45deg)
            }
            span:last-child{
                display: block;
                top: calc(50%);
                transform: rotate(-45deg)
            }

}