@import url('/mainstyles.css');
$blue_color :#005FFF;
.content_4{
    flex: 1 1 auto;
    padding-top: 200px;
    display: flex;
}
.admin_panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin_panel_title{
    font-size: 35px;
    margin-bottom: 25px;
}

.admin_panel_manage{
    display: flex;
}



.admin_panel_manage_tariff{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #f2f2f2;
    margin-right: 50px;

}

.admin_panel_manage_user{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #f2f2f2;
}

.icon_manage{
    width: 70px;
    height: 70px;
}


.btn_manage{
    display: inline-block;
    width: 100%;
    height: 40px;
    border:none;
    border-radius: 0px 0px 10px 10px;
    background-color: $blue_color;
    color:white;
    transition: 0.3s ease all;
    font-size: 20px;

    a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.btn_manage:hover{
    background-color: #024fd5;
    transition: 0.3s ease all;
}


@media (max-width:686px) {
    .admin_panel_manage_tariff{
        margin-right: 20px;
    }
}

@media (max-width:660px) {
    .admin_panel_manage{
        flex-direction: column;
    }
    .admin_panel_manage_tariff{
        margin:0;
        margin-bottom: 20px;
    }
    .admin_panel_manage_user{
        margin-bottom: 150px;
    }
}

@media (max-width:333px) {
    .admin_panel_manage_tariff{
        width: 280px;
    }
    .admin_panel_manage_user{
        width: 280px;
    }
}